export AUTH=$(cat "admin.auth")
export REPO_NAME=ta2-test
export ENDPOINT=http://localhost:7200
export GRAPHDB_BASE=/lfs1/gaia/graphdb-free-8.6.1
export GRAPHDB_ADMIN_PASSWD=passwd
export GRAPHDB_EXPORT_UTIL_PATH=./nlp-util/nlp-core-open/target/appassembler/bin/exportGraphDB
export GRAPHDB_PID_FILE=/tmp/graphdb.pid
